*{
    margin: 0%;
    height: 0%;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.842);
}
.testimonial-container{
    background-color: slateblue;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    min-width: 400px;
    padding: 40px 20px;
    margin: 5px;
    color: whitesmoke;
    position: relative;


}
img{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -50px;
}
.username{
    font-size: 20px;
    font-weight: 100;
    color: black; 
}